header
    div#header-wrapper
        div#header-content
          h1 My ToDo List.
          p Thursday, 22 Oct 2020
    
        ul#header-nav
            li: a(href='#') To Do
            li(class='active'): a(href='#') In Progress
            li: a(href='#') Completed
            li: a(href='#') All