-
  var navlink = [
          {"title": "To Do", "category": "todo"},
          {"title": "In Progress", "category": "progress"},
          {"title": "Completed", "category": "completed"},
          {"title": "All", "category": "all"}
        ]


header
    div#header-wrapper
        div#header-content
          h1 My ToDo List.
          p=date

        ul#header-nav
            each val in navlink
              if val.category === category
                li(class='active'): a(href='/' + val.category)= val.title
              else
                li: a(href='/' + val.category)= val.title