mixin item(taskName, taskDesc)
    li 
        div(class='item-title')
            div(class='item-title-wrapper' onclick="toggleDescription(this)")
                div(class='item-icon-wrapper')
                    i(class="fa fa-angle-right")
                h1(unselectable="on")= taskName
            i(class="fa fa-ellipsis-h" onclick="toggleDropdown(this)")
                div(class="item-dropdown hidden")
                    a(href="#1") To do
                    a(href="#2") In&nbspProgress
                    a(href="#3") Complete
        div(class='item-desc hidden')
            p= taskDesc

div#items
    div#items-wrapper
        ul#items-list
            each val in tasks
                +item(val.name, val.desc)
