div#items
    div#items-wrapper
        ul#items-list
            li
                div(class='item-title')
                    i(class="fa fa-angle-right")
                    h1 Task #1
                    i(class="fa fa-ellipsis-v")
                p Task 1 description here
            li 
                div(class='item-title')
                    i(class="fa fa-angle-right")
                    h1 Task #2
                    i(class="fa fa-ellipsis-v")
                p Task 2 description here
            li 
                div(class='item-title')
                    i(class="fa fa-angle-right")
                    h1 Task #3
                    i(class="fa fa-ellipsis-v")
                p Task 3 description here