doctype html
html
  head
    title toDo
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/viewscripts.js')
  body
    div#root
      include components/header.pug
      if (isError)
        include components/error.pug
      else if (isForm)
        include components/itemForm.pug
      else
        include components/itemlist.pug
  